<section class="vh-50 gradient-custom">
  <div class="container py-5 h-10">
    <div class="row d-flex justify-content-center align-items-center h-10">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem; background-color:#088178 !important">
          <div class="card-body  text-center">

            <div class="mb-md-5 mt-md-4 ">
              <form action="/admin/login" method="post">

                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">Please enter your login and password!</p>
                {{#if adminErr}}
                <div class="alert alert-danger" role="alert">
                  invald user name or password
                </div>

                {{/if}}




                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Username</label>
                  <input type="text" name="username" class="form-control" id="username"
                    class="form-control form-control-lg" placeholder="User Name" required="" />

                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="Password">Password</label>
                  <br>
                  <input type="password" id="password" name="password" placeholder="Password" required=" "
                    class="form-control form-control-lg" />

                </div>


                <button class="btn btn-outline-light btn-lg px-5 mt-3" type="submit">Login</button>
              </form>


            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>